{% extends "app/core/templates/base/base.html" %}
{% load static %}

{% block title %} Marketplace {% endblock %}

{% block section %}
Marketplace
{% endblock %}

{% block content %}
<!--begin::Page Layout-->
<div class="d-flex flex-row">

    <!--begin::Layout-->
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-body">
                <!--begin::Engage Widget 15-->
                <div class="card card-custom mb-12">
                    <div class="card-body rounded p-0 d-flex" style="background-color:#150A28;">
                        <div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-650px p-10 p-md-40">
                            <h1 class="font-weight-bolder text-white">Take ownership of the world, one token at a time.</h1>
                            <div class="font-size-h4 mb-8 text-white">Tokenize properties, simplify ownership.</div>
                        </div>
                        
                        <div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url({% static "app/core/static/media/vector-banner.svg" %} "></div>
                    </div>
                </div>
                <!--end::Engage Widget 15-->
                <!--begin::Section-->
                <div class="mb-11">
                    <!--begin::Heading-->
                    <div class="d-flex justify-content-between align-items-center mb-7">
                        <h2 class="font-weight-bolder text-dark font-size-h3 mb-0">Latest Arrivals</h2>
                        <a href="{% url 'app.core:sing_in' %}" class="btn btn-light-primary btn-sm font-weight-bolder">View All</a>
                    </div>
                    <!--end::Heading-->
                    <!--begin::Products-->
                    <div class="row">
                        <!--begin::Product-->
                        <div class="col-md-4 col-xxl-4 col-lg-12">
                            <!--begin::Card-->
                            <div class="card card-custom card-shadowless">
                                <div class="card-body p-0">
                                    <!--begin::Image-->
                                    <div class="overlay">
                                        <div class="overlay-wrapper rounded bg-light text-center">
                                            <img src="assets/media/products/1.png" alt="" class="mw-100 w-200px" />
                                        </div>
                                        <div class="overlay-layer">
                                            <a href="{% url 'app.core:sing_in' %}" class="btn font-weight-bolder btn-sm btn-primary mr-2">Quick View</a>
                                            <a href="{% url 'app.core:sing_in' %}" class="btn font-weight-bolder btn-sm btn-light-primary">Purchase</a>
                                        </div>
                                    </div>
                                    <!--end::Image-->
                                    <!--begin::Details-->
                                    <div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
                                        <a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">Smart Watches</a>
                                        <span class="font-size-lg">Outlines keep poorly thought</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Product-->
                        
                    </div>
                    <!--end::Products-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="mb-11">
                    <!--begin::Heading-->
                    <div class="d-flex justify-content-between align-items-center mb-7">
                        <h2 class="font-weight-bolder text-dark font-size-h3 mb-0">Best Locations</h2>
                        <a href="{% url 'app.core:sing_in' %}" class="btn btn-light-primary btn-sm font-weight-bolder">View All</a>
                    </div>
                    <!--end::Heading-->
                    <!--begin::Products-->
                    <div class="row">
                        <!--begin::Product-->
                        <div class="col-md-4 col-xxl-4 col-lg-12">
                            <!--begin::Card-->
                            <div class="card card-custom card-shadowless">
                                <div class="card-body p-0">
                                    <!--begin::Image-->
                                    <div class="overlay">
                                        <div class="overlay-wrapper rounded bg-light text-center">
                                            <img src="assets/media/products/4.png" alt="" class="mw-100 w-200px" />
                                        </div>
                                        <div class="overlay-layer">
                                            <a href="{% url 'app.core:sing_in' %}" class="btn font-weight-bolder btn-sm btn-primary mr-2">Quick View</a>
                                            <a href="{% url 'app.core:sing_in' %}" class="btn font-weight-bolder btn-sm btn-light-primary">Purchase</a>
                                        </div>
                                    </div>
                                    <!--end::Image-->
                                    <!--begin::Details-->
                                    <div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
                                        <a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">Jerry Kane</a>
                                        <span class="font-size-lg">Outlines keep poorly thought</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Product-->
                    </div>
                    <!--end::Products-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div>
                    <!--begin::Heading-->
                    <div class="d-flex justify-content-between align-items-center mb-7">
                        <h2 class="font-weight-bolder text-dark font-size-h3 mb-0">Best Resales</h2>
                        <a href="{% url 'app.core:sing_in' %}" class="btn btn-light-primary btn-sm font-weight-bolder">View All</a>
                    </div>
                    <!--end::Heading-->
                    <!--begin::Products-->
                    <div class="row">
                        <!--begin::Product-->
                        <div class="col-md-4 col-xxl-4 col-lg-12">
                            <!--begin::Card-->
                            <div class="card card-custom card-shadowless">
                                <div class="card-body p-0">
                                    <!--begin::Image-->
                                    <div class="overlay">
                                        <div class="overlay-wrapper rounded bg-light text-center">
                                            <img src="assets/media/products/7.png" alt="" class="mw-100 w-200px" />
                                        </div>
                                        <div class="overlay-layer">
                                            <a href="{% url 'app.core:sing_in' %}" class="btn font-weight-bolder btn-sm btn-primary mr-2">Tommy Hilfiger</a>
                                            <a href="{% url 'app.core:sing_in' %}" class="btn font-weight-bolder btn-sm btn-light-primary">Purchase</a>
                                        </div>
                                    </div>
                                    <!--end::Image-->
                                    <!--begin::Details-->
                                    <div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
                                        <a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">Smart Watches</a>
                                        <span class="font-size-lg">Outlines keep poorly thought</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Product-->
                    </div>
                    <!--end::Products-->
                </div>
                <!--end::Section-->
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!--end::Layout-->
</div>
<!--end::Page Layout-->
{% endblock %}

{% block javascript %}

{% endblock %}