{% extends "app/core/templates/tools/tables.html" %}
{% load static %}

{% block section %}
My sales
{% endblock %}

{% block filters_1 %}
<div class="col-lg-3  mb-lg-0 mb-6">                            
    <label >Date:</label>
    <input class="form-control" type="text" placeholder="yyyy-mm-dd" id="kt_datatable_search_date"/>                                                       
</div> 
{% csrf_token %}
{% endblock %} 	

{% block javascript %}

<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'app/buyer/static/js/sales-1.js' %}"></script>   
<script src="{% static 'app/core/static/js/tables-1.js' %}"></script>        
<!--end::Page Scripts-->
{% endblock %}