{% extends "app/core/templates/base/base.html" %}
{% load static %}

{% block title %} My Tokens {% endblock %}

{% block head %}

{% endblock %}

{% block section %}
My Tokens
{% endblock %}

{% block content %}
<!--begin::Page Layout-->
    <!--Check later it dosen't work-->
    <div class="d-flex flex-row">
        <div class="col-lg-4  mb-lg-0 mb-6">                            
            <label >Title:</label>
            <input class="form-control" type="text" id="search" placeholder="Titulo del documento"/>                                                       
        </div>
        <div class="col-lg-4 mb-lg-0 mb-6">                            
            <label>Property Type:</label>
            <select class="form-control datatable-input" id="propertyType">
                <option value="All">All</option>
                {% for o in action %}
                <option value="{{ o.action }}">{{ o.action }}</option>
                {% endfor %}        						
            </select>
        </div>
         
        <div class="col-lg-4  mb-lg-0 mb-6">                            
            <label >Date:</label>
            <input class="form-control" type="date" placeholder="yyyy-mm-dd" id="kt_datepiker_pk1"/>                                                       
        </div>
    </div>
</br>
</br>
<div class="d-flex flex-row">

    <!--begin::Layout-->
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-body">
                <!--begin::Section-->
                <div class="mb-11">
                    <!--begin::Heading-->
                    <div class="d-flex justify-content-between align-items-center mb-7">
                        <h2 class="font-weight-bolder text-dark font-size-h3 mb-0">Tokens List</h2>
                    </div>
                    <!--end::Heading-->
                    <!--begin::Products-->
                    <div class="row">
                        <!--begin::Product-->
                        {% for t in templates %}
                        <p></p>
                        <!-- Modal-->
                        <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Resale your token</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form" id="kt_form">
                                            {% csrf_token %}
                                            <label>New price</label>
                                            <input type="number" class="form-control form-control-solid form-control-lg" name="price" placeholder="500" value="" />
                                            </br>
                                            <label>Auction </label>
                                            <span class="switch">
                                                <label>
                                                <input type="checkbox" name="auction"/>
                                                <span></span>
                                                </label>
                                            </span>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="button" onclick="check_token();" class="btn btn-primary font-weight-bold">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xxl-4 col-lg-12" style="padding: 10px">
                            <!--begin::Card-->
                            <div class="card card-custom card-shadowless">
                                <div class="card-body p-0">
                                    <!--begin::Image-->
                                    <span class="label label-light-{{ t.Color }} label-inline font-weight-bold ">{{ t.Status}}</span>
                                    <span class="label label-light-primary label-inline font-weight-bold ">{{ t.Type}}</span>
                                    <p></p>
                                    <div class="overlay">
                                        <div class="overlay-wrapper rounded bg-light text-center">
                                            <img src="/static/app/media/{{ t.Image }}" alt="" class="card-img-top" style="max-height: 200px; object-fit: cover;"/>
                                        </div>
                                        <div class="overlay-layer">
                                            <a href="#" class="btn font-weight-bolder btn-sm btn-primary mr-2">Detail view</a>
                                            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn font-weight-bolder btn-sm btn-light-primary" data-id="{{ t.Id }}">Resale</button>
                                        </div>
                                    </div>
                                    <!--end::Image-->
                                    <!--begin::Details-->
                                    <div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
                                        <a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">{{ t.Title }}</a>
                                        <span class="font-size-lg">{{ t.Address }}</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-1">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Purchase date:</span>
                                        <a href="#" class="text-muted text-hover-primary">{{ t.CreateDate}}</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Country</span>
                                        <a href="#" class="text-muted text-hover-primary">{{ t.Country}}</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-right">
                                        <span class="text-dark-75 font-weight-bolder mr-2">Cost:</span>
                                        <a href="#" class="text-muted text-hover-primary align-right">{{ t.Cost }}</a>                        
                                    </div>
                                    <!--end::Details-->
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        {% endfor %} 
                        <!--end::Product-->
                        
                    </div>
                    <!--end::Products-->
                </div>
                <!--end::Section-->
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!--end::Layout-->
</div>
<!--end::Page Layout-->
{% endblock %}

{% block javascript %}
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'app/marketplace/static/js/resale-1.js' %}"></script> 
<!--end::Page Scripts-->
{% endblock %}